@using HKQTravellingAuthenication.Models.Tour;
@using X.PagedList
@model IPagedList<Tours>
@{
    var i = 0;
}

<style>
    .container:empty {
        display: none;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .content__tour {
        flex: 0 0 75% !important;
        max-width: 60% !important;
    }

</style>

<div class="tab-pane active" id="hottour1">
    <div class="hot-tour__list list-tour">

        @foreach (var tour in Model)
        {
            @* <div class="list-tour__item tour-item">

        <div class="list-tour__item-detail">
        <div class="list-tour__img">
        @if (i < ViewBag.TourImages.Count && ViewBag.TourImages[i] != null)
        {
        <a asp-area="" asp-controller="Tour" asp-action="DetailTour" asp-route-id="@tour.TourId"><img src="~/User/img/Tour/@ViewBag.TourImages[i]" alt="" style="width: 100%; height: 135px;"></a>
        }
        else
        {
        <a style="float: right;" asp-area="" asp-controller="Tour" asp-action="DetailTour" asp-route-id="@tour.TourId"><img src="~/User/img/Tour/0004822_tour-chua-linh-ung-son-tra-ngu-hanh-son-hoi-an.jpg" alt="" style="width: 100%; height: 135px; margin-bottom: 10px"></a>
        }
        @{
        i++;
        }
        </div>
        <div class="list-tour__content">
        <div class="list-tour__title">
        <h4>
        @tour.TourName
        </h4>
        <span class="list-tour__time">

        (<small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>@(tour.StartDate.Value)</small>
        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>@(tour.EndDate)</small>)
        </span>
        </div>
        <div class="list-tour__detail">
        <div class="list-tour__left">
        <div class="list-tour__date">
        <i class="fas fa-calendar-alt"></i> @tour.StartDate.Value.Year
        </div>
        </div>
        <div class="list-tour__right">
        <div class="list-tour__price">
        <p class="price-title">giá từ</p>
        <span class="price">@String.Format("{0:0,0}", tour.Price) VND</span>
        </div>
        </div>
        </div>
        </div>
        <div class="d-flex justify-content-end m-2 btn_detail">
        <a class="text-dark btn btn--placeholder" style="float: right;" asp-area="" asp-controller="Tour" asp-action="DetailTour" asp-route-id="@tour.TourId">Chi Tiết</a>
        </div>
        </div>
        </div> *@

            <div class="card mb-3 p-md-3">
                <div class="row g-0">
                    <div class="col-md-3 col-12">
                        <div class="image">
                            <a asp-area="" asp-controller="Tour" asp-action="DetailTour" asp-route-id="@tour.TourId"><img src="~/User/img/Tour/@ViewBag.TourImages[i]" alt="" style="width: 164%; height: 286px;"></a>

                            @* <a asp-controller="Tour" asp-action="DetailTour" asp-route-id="@tour.TourId" style="width: 100%; height: 135px;">
                        <img src="~/User/img/Tour/@ViewBag.TourImages[i]" alt="">
                        </a> *@
                            @{
                                i++;
                            }
                        </div>
                    </div>
                    <div class="col-md-9 col-12 p-3 content__tour">
                        <h5 class="card-title h5 h6-sm fw-bolder mb-3">
                            <h4 class="fw-bolder">@tour.TourName</h4>
                        </h5>
                        <div class="row align-items-center">
                            <div class="col-md-8 col-7">
                                <div class="d-flex d-lg-block justify-content-between">
                                    <div>
                                        <div class="s-rate">
                                            <span>9</span>
                                            <div class="s-comment">
                                                <h6 class="fw-bold mb-0">
                                                    Tuyệt vời
                                                </h6>
                                                <p>358 quan tâm</p>
                                            </div>
                                        </div>
                                        <p>
                                        <p class="text-muted">
                                                @tour.StartDate - @tour.EndDate
                                        </p>
                                        </p>
                                        <p class="card-text">
                                            <small class="text-muted">1 người, 4 đêm</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-5 text-end">
                                <h6 class="text-primary">Giá/vé</h6>
                                <h5 class="text-primary fw-bold">
                                    <span class="price">@String.Format("{0:0,0}", tour.Price) VND</span>
                                </h5>
                            </div>

                        </div>
                        <div class="d-flex justify-content-end m-2 btn_detail">
                            <a class="text-dark btn btn--placeholder" style="float: right;" asp-area="" asp-controller="Tour" asp-action="DetailTour" asp-route-id="@tour.TourId">Chi Tiết</a>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>

</div>


@* <div class="tab-pane active" id="hottour1">
    <div class="hot-tour__list list-tour">

        @foreach (var tour in Model)
        {
            <div class="list-tour__item tour-item">

                <div class="list-tour__item-detail">
                    <div class="list-tour__img">
                        @if (i < ViewBag.TourImages.Count && ViewBag.TourImages[i] != null)
                        {
                            <a asp-area="" asp-controller="Tour" asp-action="DetailTour" asp-route-id="@tour.TourId"><img src="~/User/img/Tour/@ViewBag.TourImages[i]" alt="" style="width: 100%; height: 135px;"></a>
                        }
                        else
                        {
                            <a style="float: right;" asp-area="" asp-controller="Tour" asp-action="DetailTour" asp-route-id="@tour.TourId"><img src="~/User/img/Tour/0004822_tour-chua-linh-ung-son-tra-ngu-hanh-son-hoi-an.jpg" alt="" style="width: 100%; height: 135px; margin-bottom: 10px"></a>
                        }
                        @{
                            i++;
                        }
                    </div>
                    <div class="list-tour__content">
                        <div class="list-tour__title">
                            <h4>
                                @tour.TourName
                            </h4>
                            <span class="list-tour__time">

                                (<small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>@(tour.StartDate)</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>@(tour.EndDate)</small>)
                            </span>
                        </div>
                        <div class="list-tour__detail">
                            <div class="list-tour__left">
                                <div class="list-tour__date">
                                    <i class="fas fa-calendar-alt"></i> @tour.StartDate.Value.Year
                                </div>
                            </div>
                            <div class="list-tour__right">
                                <div class="list-tour__price">
                                    <p class="price-title">giá từ</p>
                                    <span class="price">@String.Format("{0:0,0}", tour.Price) VND</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end m-2 btn_detail">
                        <a class="text-dark btn btn--placeholder" style="float: right;" asp-area="" asp-controller="Tour" asp-action="DetailTour" asp-route-id="@tour.TourId">Chi Tiết</a>
                    </div>
                </div>
            </div>

        }
    </div>

</div> *@
@* <div class="MenuTrang" style="display: flex;justify-content: center;padding-top: 16px;">
    @await Html.PartialAsync("_PagedListPager", Model)
</div> *@

@* <div class="tab-pane active" id="hottour1">
    <div class="hot-tour__list list-tour">
        @foreach (var tour in Model)
        {
            <div class="list-tour__item tour-item">

                <div class="list-tour__item-detail">
                    <div class="list-tour__img">
                        @if (ViewBag.TourImageUrls != null && ViewBag.TourImageUrls.ContainsKey(tour.TourId))
                        {
                            var imageUrl = ViewBag.TourImageUrls[tour.TourId];
                            <a asp-area="" asp-controller="Tour" asp-action="DetailTour" asp-route-id="@tour.TourId"><img src="@imageUrl" alt="" style="width: 100%; height: auto;"></a>
                        }
                        else
                        {
                            <a style="float: right;" asp-area="" asp-controller="Tour" asp-action="DetailTour" asp-route-id="@tour.TourId"><img src="~/User/img/Tour/0004822_tour-chua-linh-ung-son-tra-ngu-hanh-son-hoi-an.jpg" alt="" style="width: 100%; height: auto;"></a>
                        }
                    </div>
                    <div class="list-tour__content">
                        <div class="list-tour__title">
                            <h4>
                                @tour.TourName <span class="list-tour__time">
                                    (                                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>@(tour.EndDate.Value.Day - tour.StartDate.Value.Day) Ngày</small>
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>@(tour.EndDate.Value.Day - tour.StartDate.Value.Day - 1)  Đêm</small>
                                </span>
                            </h4>
                        </div>
                        <div class="list-tour__detail">
                            <div class="list-tour__left">
                                <div class="list-tour__date">
                                    <i class="fas fa-calendar-alt"></i> @tour.StartDate.Value.Year
                                </div>
                            </div>
                            <div class="list-tour__right">
                                <div class="list-tour__price">
                                    <p class="price-title">giá từ</p>
                                    <span class="price">@String.Format("{0:0,0}", tour.Price) VND</span>
                                </div>
                                <div class="d-flex justify-content-center mb-2">
                                    <a class="text-dark btn btn--placeholder" style="float: right;" asp-area="" asp-controller="Tour" asp-action="DetailTour" asp-route-id="@tour.TourId">Chi Tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div> *@